@inject ISupplierService supplierService

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="SmartPhone" asp-action="All">All Smartphones</a>
    </li>
    @if (this.User?.Identity?.IsAuthenticated ?? false) // if the user is
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="SmartPhone" asp-action="Mine">My Smarphones</a>
        </li>
        @if (await supplierService.ExistsByIdAsync(User.Id()))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="SmartPhone" asp-action="Add">Add Smartphone</a>
            </li>
        }
    }
</ul>